flask
flask_restful
flask_cors
flask_sqlalchemy
flask_jwt_extended
flask_uploads
flask-marshmallow==0.10.1
marshmallow==3.2.1
marshmallow-sqlalchemy==0.17.0
minio
Pillow
requests
gunicorn
python-dotenv
